<div class="gbt-tag-input">
  @if (label()) {
    <label [for]="id()" class="gbt-tag-input__label">{{ label() }}</label>
  }
  <!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/interactive-supports-focus -->
  <div
    class="gbt-tag-input__field"
    [class.gbt-tag-input__field--disabled]="isDisabled()"
    (click)="focusInput()"
  >
    @for (tag of tags(); track tag; let i = $index) {
      <gbt-tag
        [color]="color()"
        [removable]="!isDisabled()"
        [disabled]="isDisabled()"
        [removeLabel]="removeLabel()(tag)"
        (removed)="removeTagAt(i)"
      >
        {{ tag }}
      </gbt-tag>
    }
    <input
      #input
      type="text"
      [id]="id()"
      class="gbt-tag-input__input"
      [placeholder]="tags().length === 0 ? placeholder() : ''"
      [disabled]="isDisabled()"
      [value]="draft()"
      [attr.aria-invalid]="errorMessage() ? true : null"
      [attr.aria-describedby]="errorMessage() ? id() + '-error' : null"
      (input)="onInputChange($event)"
      (keydown)="onInputKeydown($event)"
      (blur)="onBlur()"
    />
  </div>
  @if (errorMessage()) {
    <p [id]="id() + '-error'" class="gbt-tag-input__error" role="alert">{{ errorMessage() }}</p>
  }
</div>
