<main class="gbt-auth-panel">
  <ng-content select="[auth-backdrop]" />
  <div class="gbt-auth-panel__panel" [class.gbt-auth-panel__panel--wide]="wide()">
    <div class="gbt-auth-panel__logo"><ng-content select="[auth-logo]" /></div>

    @if (heading()) {
      <h1
        class="gbt-auth-panel__heading"
        [class.gbt-auth-panel__heading--alone]="!intro()"
        tabindex="-1"
      >
        {{ heading() }}
      </h1>
      @if (intro()) {
        <p class="gbt-auth-panel__intro">{{ intro() }}</p>
      }
    }

    <ng-content />
  </div>
</main>
